@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}

body {
    height: 100%;
    margin:0;
    text-align: center;
}
.container1{
    background-image: url(./images/WOPA151008_D226.jpg);
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.head {
    position: absolute;
    color: #fff;
    font-size: 500%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
}
section {
    overflow: auto;
    padding: 50px 80px;
}
h1{
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
p{
    color: #393939;
    font-size: 17px;
}
.container2{
    background-image: url(./images/green_trees_in_front_of_lake_under_cloudy_sky_during_daytime_with_reflection_on_water_4k_5k_hd_nature.jpg);
    min-height: 60vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container3{
    background-image: url(./images/nature-landscape-hd-usqznq19dscdjkf8.jpg);
    min-height: 40vh;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container4{
    background-image: url(./images/624e27fde335d49e2dd3c6b75c6027a3.jpeg);
    min-height: 80vh;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.head1{
    position: absolute;
    color: black;
    font-size: 500%;
    top:50%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
}
footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 3vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

